//#Theme

$color-primary:         #00A79D;
$color-primary--light:  #57d9ce;
$color-primary--dark:   #09465B;
$color-secondary:       #CCEEEB;
$color-background:      #F6FCFB;

$color-black:           #6C6D60;

$color-white:           #ffffff;

$color-border:          $color-primary--dark;

$color-error:           #EA354B;
$color-warning:         #F5A623;
$color-success:         $color-primary;

$color-shadow:          rgba($color-primary--dark, 0.1);
$color-shadow--3:       rgba($color-primary--dark, 0.3);
$color-shadow--4:       rgba($color-primary--dark, 0.4);
$color-shadow--5:       rgba($color-primary--dark, 0.5);

$font-primary:          'Montserrat', Helvetica, Arial, sans-serif;

//#Media Queries
$breakpoints: (
  'default':  ( min-width:    0px ),
  'tiny':     ( max-width:  320px ),
  'small':    ( min-width:  360px ),
  'medium':   ( min-width:  480px ),
  'xmedium':  ( min-width:  720px ),
  'large':    ( min-width:  960px ),
  'laptop':   ( min-width: 1024px ),
  'xlarge':   ( min-width: 1200px ),
  'xxlarge':  ( min-width: 1400px ),
  'xxxlarge': ( min-width: 1900px ),
);

$gk-layout-padding: (
  default: 24px, 
  phone-landscape: 32px, 
  tablet-portrait: 48px, 
  tablet-landscape: 72px
);